body{
    margin: 0;
    background-color: #111;
}
header{
    background-color: #333;
    padding: 1em;
    margin-bottom: 2em;
    display: -ms-grid;
}

.logo{
    text-align: center;
    color: white;
}

header nav{
    text-align: center;
}

header nav a{
    display: inline-block;
    padding: 0 auto;
    border-bottom: 1px solid white;
    color: white;
}

footer{
    background-color: #222;
    position: relative;
    bottom: 0;

    padding: 1em;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}
.classes{
    background-color: #222;
    text-align: center;
    padding: 0.5em;
    margin: 0 auto;
}
.classes a{
    margin: 2em;
}

/*SLIDE SHOW*/
#ssContainer{
    max-width: 800px;
    margin: 0 auto;
}
#img1{
    width: 100%;
}

/*card - Notícias*/
.cardNoticias{
    background-color: #b2b5b7;
    max-width: 80%;
    margin: 2em auto;
    padding: 1em;
    display: flex;
    /* width: 100 */
    overflow-x: auto;
    align-content: center;
}

/* NOTÍCIAS */
.noticia{
    background-color: #e3e7ea;
    min-width: 400px;
    padding: 1em;
    margin: 0 0.2em;
}

.saibaMais{
    background-color: #1e3f70;
    display: block;
    padding: 0.3em;
    text-align: center;
    max-width: 25%;
}
/*Adiconar um saibaMais Hover*/